---
layout: default
---
<meta http-equiv="refresh" content="5;url=https://yifeiliu.me/" />
<p><font size="5" color="red">This page is obsolete, you will redirect to my <a href="https://yifeiliu.me/">new homepage</a> in 5 seconds.</font></p>

{% include career-profile.html %}

{% unless site.data.data.sidebar.education %}
  {% include education.html %}
{% endunless %}

{% include news.html %}

{% include experiences.html %}

{% include publications.html %}

{% include projects.html %}

{% include honors.html %}

{% include skills.html %}

